
body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
	padding: 10px;
}

article {
	width: 100%;
	max-width: 800px; 
	margin: 10px;
	padding: 10px;
}

img {
	border-radius: 50%;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}
.hire-me {
	background-color:black;
	color: white;
	padding: 14px 20px;
	cursor: pointer;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	float: center;
}
.introduction {
	text-align: center;
}

